body{
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:cornsilk;
   
}
header{
    background-color: black;
    color:white;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
     position:fixed; 
    top:0;
    width:100%;
    box-sizing:border-box;
    
   

}
/* nav{
    margin-left:700px;;
    display: flex;
    gap:20px;

} */
 a{
    text-decoration: none;
    color:white;
   margin:0px 10px;
}
#user-display{

  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: bold;
}
footer{
    background-color: black;
    color:white;
    padding:15px 20px;
    
   text-align:center;
    bottom:0;
    width:100%;
    position:fixed;
    
}
.content {
  text-align: center;
  padding-top: 220px;
  padding-bottom: 80px;
  background: linear-gradient(to right, #ff007bea, #cb1818);
  color: white;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  background-color: white;
  color: #e52e71;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.highlights {
  background: linear-gradient(to right, hwb(260 0% 0% / 0.918), #bd2f61);
  padding: 30px;
  margin: 60px auto;
  width: 80%;
  text-align: center;
  border-radius: 12px;
}

.highlights h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.highlights ul {
  list-style: none;
}

.highlights ul li {
  font-size: 18px;
  padding: 8px 0;
}
/* .products{
  display:flex;
  flex-wrap:wrap;
   gap:40px;
   margin-top:120px;
   margin-left:100px;
   margin-right:100px;
   border-radius:15px ;
   /* background:linear-gradient(to right,blue,rgb(212, 21, 126)) ; */
  /* animation :slide 2s; */
/* }
@keyframes slide{
  0%{
    transform: scale(0.5);
    opacity:0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.product{
 
  border-radius:10px;
  padding:10px;
  text-align:center;
}
.product img{
  width:200px;
  height:200px;
  border-radius:15px;
  background-color:pink;
} */ 
 .product {
    background-color: wheat;
    border-radius: 10px;
    padding:20px;
    width:200px;
    text-align: center;
}
.products{
    display: flex;
    gap:20px;
    justify-content: center;
    flex-wrap: wrap;
    margin:20px;
    align-items: center;
    margin-top: 50px;
}
.product img{
    width:150px;
    height:150px;
    border-radius: 10px;
    animation: slide 3s infinite;

}
button{
  background-color:black;
  color:white;
  padding:10px;
  border-radius:10px; 
  border:none;
}
.logout{
margin-top: -5px;
background-color: #e52e71;
width: auto;
padding: 5px;
border-radius: 10px;;
border: none;
}
.col {
  margin-top: 38px;
  margin-left: 920px;
}
